<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

        body {
            font-family: 'Nanum Gothic', sans-serif;
        }

        .message {
            white-space: pre-line;
        }

        .chat-container {
            height: calc(100vh - 150px);
        }

        .messages {
            height: calc(100% - 50px);
        }

        .messages .message {
            font-size: 1.2rem;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-3xl p-4 bg-white shadow-md rounded-lg">
        <h1 class="text-2xl font-bold text-center mb-4">Personal Healthcare Service</h1>
        <div class="chat-container">
            <div id="messages" class="messages border border-gray-300 p-4 overflow-y-scroll bg-gray-50 rounded-lg"></div>
            <div class="input-container flex mt-4">
                <input type="text" id="messageInput" placeholder="증상을 입력하세요" class="flex-grow p-2 border border-gray-300 rounded-l-md" disabled>
                <button id="sendButton" onclick="sendMessage()" class="bg-blue-500 text-white p-2 rounded-r-md" disabled>전송</button>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            addMessage("로딩중...", 'server');
    
            $('#messageInput').prop('disabled', true);
            $('#sendButton').prop('disabled', true);
    
            $.ajax({
                url: '/chat/model_fit/',
                type: 'get',
                success: function (response) {
                    addMessage("로딩완료\n\n어떤 증상이 있나요? 증상을 입력하세요.", 'server');
                    $('#messageInput').prop('disabled', false);
                    $('#sendButton').prop('disabled', false);
                }
            });
        });
    
        function sendMessage() {
            var input = $('#messageInput').val();
            if (input.trim() !== '') {
                addMessage(input, 'user');
                $('#messageInput').val('');
                $('#messageInput').prop('disabled', true); // Disable input field
                $('#sendButton').prop('disabled', true); // Disable send button
    
                $.ajax({
                    url: '/chat/send_message/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ 'message': input }),
                    success: function (response) {
                        console.log(`${response.status}, ${response.message}`);
                        addMessage(response.message, 'server');
                        if (response.status === 'Limit reached') {
                            $('#messageInput').prop('disabled', true);
                            $('#sendButton').prop('disabled', true);
                        }
                        if (response.message.includes('증상이 있으십니까?')) {
                            addYesNoButtons();
                        }
                    },
                    error: function () {
                        console.log('Error sending message');
                    }
                });
            }
        }
    
        function sendYesNo(answer) {
            addMessage(answer, 'user');
            $('.button-container').remove(); // Remove buttons after sending the answer
            $.ajax({
                url: '/chat/send_message/',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'message': answer }),
                success: function (response) {
                    console.log(`${response.status}, ${response.message}`);
                    addMessage(response.message, 'server');
                    if (response.status === 'Limit reached') {
                        $('#messageInput').prop('disabled', true);
                        $('#sendButton').prop('disabled', true);
                    }
                    if (response.message.includes('증상이 있으십니까?')) {
                        addYesNoButtons();
                    }
                },
                error: function () {
                    console.log('Error sending message');
                }
            });
        }
    
        function addMessage(message, sender) {
            var classToAdd = sender === 'server' ? 'text-left text-gray-700' : 'text-right text-blue-700';
            var messageElement = $('<div>').addClass('message my-2').addClass(classToAdd);
    
            var imgPattern = /(https?:\/\/.*\.(?:png|jpg|gif))/i;
            var parts = message.split(imgPattern);
    
            parts.forEach(part => {
                if (imgPattern.test(part)) {
                    var imgElement = $('<img>').attr('src', part).addClass('inline-image');
                    messageElement.append(imgElement);
                } else {
                    messageElement.append(document.createTextNode(part));
                }
            });
    
            $('#messages').append(messageElement);
            $('#messages').scrollTop($('#messages')[0].scrollHeight);
        }
    
        function addYesNoButtons() {
            var yesButton = $('<button>')
                .addClass('bg-green-500 text-white p-2 rounded-l-md mx-1')
                .text('예')
                .click(function () { sendYesNo('yes'); });
            var noButton = $('<button>')
                .addClass('bg-red-500 text-white p-2 rounded-r-md mx-1')
                .text('아니오')
                .click(function () { sendYesNo('no'); });
            var buttonContainer = $('<div>').addClass('button-container flex justify-center mt-4').append(yesButton).append(noButton);
            $('#messages').append(buttonContainer);
            $('#messages').scrollTop($('#messages')[0].scrollHeight);
        }
    
        $(window).resize(function () {
            $('.chat-container').css('height', `calc(100vh - 150px)`);
            $('.messages').css('height', `calc(100% - 50px)`);
        });
    </script>
    
    
    
</body>

</html>
